
img{
    display: block;
    margin: auto;
    width: 200px;
}
h1{
    font-family: 'Gloock', serif;
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    padding: 0 45px;
    color: rgb(22, 8, 170);
    
}  
body{
    font-family: 'Gloock', serif;
    font-family: 'Inter', sans-serif;
    width: 650px;
    margin: auto;
    background-color: rgb(243, 159, 202);
    padding: 10px 30px 30px 20px;
    border: 3px solid white;

}
h2, h3{
    font-family: 'Gloock', serif;
    font-family: 'Inter', sans-serif;
    color: rgb(22, 8, 170);
}
